<div class="row">
  <div class="medium-8 columns">
    <% if @definitions.present? %>
      <% @definitions.each do |definition| %>
        <%= render definition.word, definition: definition %>
      <% end %>
      <%= paginate @definitions %>
    <% else %>
      <h4>Could not find <code><%= params[:q] %></code>, <%= link_to 'add definition', new_word_definition_path %></h4>

      <%#= render 'definitions/word', word: @random_word, definition: @random_word.best_definition %>
    <% end %>

    <%= render partial: 'layouts/partials/randomizer' %>
  </div>

  <div class="medium-4 columns">
    <%= render partial: 'layouts/partials/sidebar' %>
  </div>
</div>
