<!DOCTYPE html>
<html lang="ms">
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'embed', media: 'all' %>
    <%= javascript_include_tag 'embed', async: Rails.env.production? %>
    <%= javascript_include_tag 'fonts', async: true %>
    <%= javascript_include_tag 'https://static.addtoany.com/menu/page.js', async: true %>
  </head>

  <body>
    <main>
      <%= render 'definitions/definition_embed', definition: @definition, word: @definition.word %>
    </main>
  </body>
</html>
