<!DOCTYPE html>
<html lang="ms">
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'embed', media: 'all' %>
    <%= javascript_include_tag 'embed', async: Rails.env.production? %>
    <%= javascript_include_tag 'fonts', async: true %>
    <%= javascript_include_tag 'https://static.addtoany.com/menu/page.js', async: true %>
  </head>

  <body>
    <div class="callout">
      <span class="text-color-gray"><%= @definition.created_at.strftime('%d %B %Y') %></span>
      <h1>
        <span class="text-color-primary"><%= @definition.original_word %></span>
        <%= link_to word_definition_url(@definition.word, @definition), target: :_blank do %>
          <i class="material-icons text-color-light-gray">open_in_new</i>
        <% end %>
        </h1>
      <div class="definition">
        <p class='pre-line'><%= @definition.definition %></p>
        <p class='pre-line'><em><%= @definition.example %></em></p>
      </div>
      <p>
        <% if @definition.user %>
          by <%= link_to @definition.user.handle, @definition.user, target: :_blank %>
        <% else %>
          by unknown
        <% end %>
      </p>
      <div class="definition-likes">
        <div class="ligtsaber-container">
          <%= render 'layouts/partials/lightsaber', likes: @definition.likes_counter, dislikes: @definition.dislikes_counter %>
        </div>
        <span class="text-color-gray icons"><i class="material-icons">thumb_up</i></span>
        <span id="definition_<%= @definition.id %>_likes"  class="text-color-primary"><%= @definition.likes_counter %></span>
        &nbsp;
        &nbsp;
        <span class="text-color-gray icons"><i class="material-icons">thumb_down</i></span>
        <span id="definition_<%= @definition.id %>_dislikes"  class="text-color-primary"><%= @definition.dislikes_counter %></span>
      </div>
      <div class="a2a_kit a2a_kit_size_24 a2a_default_style" data-a2a-icon-color="transparent,#f57c00" data-a2a-url="<%= word_definition_url(@definition.word, @definition) %>" data-a2a-title="<%= a2a_title @definition %>">
        <a class="def-url-clipboard-btn" data-clipboard-text="<%= word_definition_url(@definition.word, @definition) %>">
          <i class="material-icons">link</i>
        </a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
      </div>
    </div>
  </body>
</html>
