<div class="row">
  <div class="columns medium-8 ">
    <div class="callout show-for-small-only">
      <h5><%= @user.handle %></h5>
      <p>
        <span class="text-color-primary" title="Significant votes plus significant submitted definitions likes"><%= pluralize(@user.points, 'Point') %></span>
        <br/>
        <span class="text-color-gray">Joined</span> <%= local_time @user.created_at, :med %>
        <br/>
        <span class="text-color-gray">Submitted</span> <%= pluralize(@definitions.size, 'definition') %>
      </p>
    </div>

    <% if @definitions.present? %>
      <% @definitions.each do |definition| %>
        <%= render 'words/word', word: definition.word, definition: definition %>
      <% end %>
      <%= paginate @definitions %>
    <% else %>
      <h4>No definition posted</h4>
    <% end %>
  </div>

  <div class="columns medium-4">
    <div class="callout show-for-medium">
      <h5><%= @user.handle %></h5>
      <p>
        <span class="text-color-primary" title="Significant votes plus significant submitted definitions likes"><%= pluralize(@user.points, 'Point') %></span>
        <br/>
        <span class="text-color-gray">Joined</span> <%= local_time @user.created_at, :med %>
        <br/>
        <span class="text-color-gray">Submitted</span> <%= pluralize(@definitions.size, 'definition') %>
      </p>
    </div>

    <%= render partial: 'layouts/partials/footer' %>
  </div>
</div>
