<p class='pre-line'><%= definition.definition %></p>
<p class='pre-line'><em><%= definition.example %></em></p>
<p>
  <% if definition.user %>
    by <%= link_to definition.user.handle, definition.user %> at
  <% else %>
    by unknown at
  <% end %>
  <%=  link_to definition.created_at.strftime('%d %B %Y'), word_definition_url(definition.word, definition) %>
</p>
<div>
  <%= link_to like_definition_path(definition), method: :post, style: 'vertical-align: top' do %>
    <span class="text-color-gray"><i class="material-icons">thumb_up</i></span>
    <%= definition.likes_counter %>
  <% end %>
  &nbsp;
  &nbsp;
  <%= link_to dislike_definition_path(definition), method: :post, style: 'vertical-align: top' do %>
    <span class="text-color-gray"><i class="material-icons">thumb_down</i></span>
    <%= definition.dislikes_counter %>
  <% end %>
</div>
<div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-icon-color="transparent,#f57c00" data-a2a-url="<%= word_definition_url(definition.word, definition) %>" data-a2a-title="<%= a2a_title definition %>">
  <a class="a2a_button_facebook"></a>
  <a class="a2a_button_twitter"></a>
</div>
