<% word ||= definition.word %>

<p class='pre-line'><%= definition.definition %></p>
<p class='pre-line'><em><%= definition.example %></em></p>
<p>
  <% if definition.user %>
    by <%= link_to definition.user.handle, definition.user %> at
  <% else %>
    by unknown at
  <% end %>
  <%=  link_to definition.created_at.strftime('%d %B %Y'), word_definition_url(word, definition) %>
</p>
<div class="definition-likes">
  <%= link_to like_definition_path(definition), method: :post, remote: :true do %>
    <span class="text-color-gray icons"><i class="material-icons">thumb_up</i></span>
    <span id="definition_<%= definition.id %>_likes"><%= definition.likes_counter %></span>
  <% end %>
  &nbsp;
  &nbsp;
  <%= link_to dislike_definition_path(definition), method: :post, remote: :true do %>
    <span class="text-color-gray icons"><i class="material-icons">thumb_down</i></span>
    <span id="definition_<%= definition.id %>_dislikes"><%= definition.dislikes_counter %></span>
  <% end %>
</div>
<div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-icon-color="transparent,#f57c00" data-a2a-url="<%= word_definition_url(word, definition) %>" data-a2a-title="<%= a2a_title definition %>">
  <a class="a2a_button_copy_link"></a>
  <a class="a2a_button_facebook"></a>
  <a class="a2a_button_twitter"></a>
</div>
<% if current_user == definition.user %>
  <%= link_to 'Edit', edit_definition_path(definition), class: 'button secondary definition-edit-button' %>
<% elsif definition.user.id == guest_user_id_session %>
  <%= link_to 'Login to edit', edit_definition_path(definition), class: 'button secondary definition-edit-button' %>
<% end %>
