<% word ||= definition.word %>

<div class="callout definition">
  <%=  link_to definition.created_at.strftime('%d %B %Y'), word_definition_path(word, definition), class: "text-color-gray" %>
  <h1><%= link_to definition.original_word, word_path(word) %></h1>
  <p class='pre-line'><%= parse_linked_words definition.definition %></p>
  <p class='pre-line'><em><%= parse_linked_words definition.example %></em></p>
  <p>
    <% if definition.user %>
      by <%= link_to definition.user.handle, definition.user %>
    <% else %>
      by unknown
    <% end %>
  </p>

  <div class="definition-likes">
    <div class="ligtsaber-container">
      <%= render 'layouts/partials/lightsaber', likes: definition.likes_counter, dislikes: definition.dislikes_counter %>
    </div>
    <%= link_to like_definition_path(definition), method: :post, remote: :true do %>
      <span class="text-color-gray icons"><i class="material-icons">thumb_up</i></span>
      <span id="definition_<%= definition.id %>_likes"><%= definition.likes_counter %></span>
    <% end %>
    &nbsp;
    &nbsp;
    <%= link_to dislike_definition_path(definition), method: :post, remote: :true do %>
      <span class="text-color-gray icons"><i class="material-icons">thumb_down</i></span>
      <span id="definition_<%= definition.id %>_dislikes"><%= definition.dislikes_counter %></span>
    <% end %>
  </div>

  <div class="definition-actions">
    <ul class="dropdown menu" data-dropdown-menu data-click-open="true" data-disable-hover="true" data-alignment="right" data-close-on-click="true">
      <li>
        <i class="material-icons text-color-light-gray pointer">more_vert</i>
        <ul class="menu vertical is-dropdown-submenu">
          <% if current_user == definition.user %>
            <li><%= link_to 'Edit', edit_definition_path(definition) %></li>
          <% elsif definition.user.id == guest_user_id_session %>
            <li><%= link_to 'Login to edit', edit_definition_path(definition) %></li>
          <% end %>

          <li>
            <a class="def-url-clipboard-btn" data-clipboard-text="<%= word_definition_url(word, definition) %>">Copy permalink</a>
          </li>
          <li>
            <a class="share-links" data-url="<%= facebook_link definition.original_word, word_definition_url(word, definition) %>">Share to Facebook</a>
          </li>
          <li>
            <a class="share-links" data-url="<%= twitter_link definition.original_word, word_definition_url(word, definition) %>">Share to Twitter</a>
          </li>
          <li>
            <%= link_to embed_settings_word_definition_path(word, definition, url: word_definition_path(word, definition), width: 500 ) do %>
              Embed to webpage
            <% end %>
          </li>
          <li>
            <%= link_to image_word_definition_path(word, definition), target: :_blank do %>
              Download
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>