<p class='pre-line'><%= definition.definition %></p>
<p class='pre-line'><em><%= definition.example %></em></p>
<p>
  <% if definition.user %>
    by <%= link_to definition.user.handle, definition.user %> at
  <% else %>
    by unknown at
  <% end %>
  <%=  link_to definition.created_at.strftime('%d %B %Y'), definition_path(definition) %>
</p>
<div>
  <%= link_to like_definition_path(definition), method: :post, style: 'vertical-align: top' do %>
    <span class="text-color-gray"><i class="material-icons">thumb_up</i></span>
    <%= definition.likes_counter %>
  <% end %>
  &nbsp;
  &nbsp;
  <%= link_to dislike_definition_path(definition), method: :post, style: 'vertical-align: top' do %>
    <span class="text-color-gray"><i class="material-icons">thumb_down</i></span>
    <%= definition.dislikes_counter %>
  <% end %>
</div>
