<% unless current_user.present? %>
  <div class="callout secondary">
    <h6>
      Adding definiton as a <strong>guest</strong>. You will not be able to edit this definition!<br>
      If you
      <%= link_to 'login', new_user_session_path %>
      or
      <%= link_to 'sign up', new_user_registration_path %>
      before the session is over, you will own the definition.
    </h6>
  </div>
<% end %>

<%= form_for(definition) do |f| %>
  <% if definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(definition.errors.count, "error") %> prohibited this definition from being saved:</h2>

      <ul>
      <% definition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :word %>
      <% if definition.persisted? %>
        <%= text_field_tag :word, definition.original_word, disabled: true %>
      <% else %>
        <%= f.text_field :original_word, value: params[:word], autocomplete: :off, required: true %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="callout">
        <p>
          Enclose words within <code>[</code> <code>]</code> for automatic definition linking.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :definition %>
      <%= f.text_area :definition, rows: 5, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :example %>
      <%= f.text_area :example, rows: 5, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Tags (comma separated)</label>
      <%= f.text_field :tag_list, autocomplete: :off %>
    </div>
  </div>

  <% if definition.new_record? %>
    <div class="row">
      <div class="large-12 columns">
        <div class="callout">
          <input type="checkbox" id="word_confirmation" required="true" style="margin: 0"><label for="word_confirmation">Submit definition for <strong id="new_word"></strong></label>
          <% unless current_user %>
            <br>
            <input type="checkbox" id="agreement" required="true" style="margin: 0"><label for="agreement">I agree to the <%= link_to 'Privacy Policy', privacy_path, target: :_blank %></label>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <%= f.submit 'Submit', class: 'button' %>
      <%= link_to 'Cancel', root_path, class: 'button secondary' %>
    </div>
  </div>
<% end %>
