<div class="row">
  <div class="medium-8 columns">
    <% if @word_not_found %>
      <h4>No record for <code><%= params[:id] %></code>, <%= link_to 'add definition', new_word_definition_path %></h4>
    <% else %>
      <% @definitions.each do |definition| %>
        <%= render 'definitions/definition', definition: definition, word: @word %>
      <% end %>
      <%= paginate @definitions %>
    <% end %>

    <%= render partial: 'layouts/partials/randomizer' %>
  </div>

  <div class="medium-4 columns">
    <%= render partial: 'layouts/partials/footer' %>
  </div>
</div>
