<% if @word_not_found %>
  <h4>No record for <em><%= params[:id] %></em>, checkout <em><%= @word.word %></em> or <%= link_to 'add your definition', new_word_definition_path %></h4>
<% end %>
<% @definitions.each do |definition| %>
  <%= render 'definitions/definition', definition: definition, word: @word %>
<% end %>
<%= paginate @definitions %>

<%= render partial: 'layouts/partials/randomizer' %>
