<% if current_user %>
  <header>
    <div class="row">
      <div class="medium-12 columns">
        <div class="row">
          <div class="medium-12 columns">
            <div class="logo">
              <a href="<%= root_path %>"><strong>Kamus</strong>Kita</a>
            </div>
            <div class="user-actions">
              <% if controller_name == 'users' %>
                <%= link_to 'Account', edit_user_registration_path, class: 'small button secondary' %>
              <% else %>
                <%= link_to 'Handle', edit_user_path(current_user), class: 'small button secondary' %>
              <% end %>
              <%= link_to 'Logout', destroy_user_session_path, class: 'small button secondary', method: :delete %>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </header>
<% else %>
  <header>
    <div class="row">
      <div class="medium-12 columns">
        <div class="row">
          <div class="medium-12 columns">
            <div class="logo">
              <a href="<%= root_path %>"><strong>Kamus</strong>Kita</a>
            </div>
            <div class="user-actions">
              <%= link_to 'Login', new_user_session_path, class: 'small button' %>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>