<header>
  <div class="row">
    <div class="medium-12 columns">
      <div class="row">
        <div class="medium-12 columns">
          <div class="logo">
            <a href="<%= root_path %>"><strong>Kamus</strong>Kita</a>
          </div>
          <div class="user-actions">
            <% if current_user %>
              <%= link_to 'Handle', edit_user_path(current_user), class: 'small button secondary' %>
              <%= link_to 'Logout', destroy_user_session_path, class: 'small button secondary', method: :delete %>
            <% else %>
              <%= link_to 'Login', new_user_session_path, class: 'small button' %>
            <% end %>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-9 medium-11 columns">
          <form  action="/search">
            <input type="text" name="q" placeholder="Search">
          </form>
        </div>
        <div class="small-3 medium-1 columns">
          <%= link_to new_definition_path, class: 'button icon block' do %>
            <i class="material-icons">add</i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>