<% unless defined?(hide_add_button) %>
  <div class="row">
    <div class="columns small-12">
      <%= link_to 'Add definition', new_definition_path, class: 'button jumbo' %>
    </div>
  </div>
<% end %>

<%= yield :sidebar %>

<footer>
	<div class="row">
    <div class="columns small-12">
      <div class="expanded button-group">
        <%= link_to 'facebook', 'https://facebook.com/kamuskita', class: 'button facebook' %>
        <%= link_to 'twitter', 'https://twitter.com/twtkamuskita', class: 'button twitter' %>
      </div>
    </div>
  </div>
  <div class="text-center links">
    <%#= link_to 'terms of service', tos_path %>
    <%= link_to 'vote', vote_path %>
    <%= link_to 'random', random_path(time: Time.now.to_f) %>
    <%= link_to 'browse', browse_path %>
    <%= link_to 'privacy', privacy_path %>
    <%= link_to 'developer', developer_path %>
  </div>
</footer>