<!DOCTYPE html>
<html lang="ms">
  <head>
    <title>KamusKita</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render partial: 'layouts/partials/devise_header' %>
    <main>
      <%= render partial: 'layouts/partials/notice' %>
      <div class="row">
        <div class="medium-4 medium-offset-4 columns">
          <%= render partial: 'layouts/partials/notice' %>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 medium-offset-4 columns">
          <%= render partial: 'layouts/partials/notice' %>
          <%= yield %>
        </div>
      </div>
    </main>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'fonts', 'data-turbolinks-track': 'reload', async: true %>
  </body>
</html>
